In [1]:
import re
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('kiva_loans_20181016.csv')
print(len(df))
# df = df.sample(n=round(len(df)*.2))
# print(len(df))
# df = df.loc[df.status==0].append(df.loc[df.status==1].sample(len(df.loc[df.status==0])))
# df.status.value_counts()

671205

In [3]:
df.shape

(671205, 18)

In [4]:
df.status.value_counts()

1    622877
0     48328
Name: status, dtype: int64

In [5]:
df.dtypes

id                     int64
date                  object
activity              object
sector                object
use                   object
funded_amount          int64
loan_amount            int64
diff_funded_loan       int64
status                 int64
country_code          object
country               object
currency              object
gender                object
borrower_genders      object
lender_count           int64
term_in_months         int64
repayment_interval    object
tags                  object
dtype: object

In [6]:
df.isnull().sum()

id                         0
date                       0
activity                   0
sector                     0
use                     4232
funded_amount              0
loan_amount                0
diff_funded_loan           0
status                     0
country_code               8
country                    0
currency                   0
gender                  4221
borrower_genders        4221
lender_count               0
term_in_months             0
repayment_interval         0
tags                  171416
dtype: int64

In [7]:
df1 = df[['status', 'loan_amount', 'activity', 'sector',  'country',
         'currency','gender','term_in_months']]

In [8]:
df1.head(2)

,status,loan_amount,activity,sector,country,currency,gender,term_in_months
0,1,300,Fruits & Vegetables,Food,Pakistan,PKR,female,12
1,1,575,Rickshaw,Transportation,Pakistan,PKR,group,11

In [9]:
df2 = df1.dropna()
df2 = df2.drop(['currency'], axis=1)
df2.head()

,status,loan_amount,activity,sector,country,gender,term_in_months
0,1,300,Fruits & Vegetables,Food,Pakistan,female,12
1,1,575,Rickshaw,Transportation,Pakistan,group,11
2,1,150,Transportation,Transportation,India,female,43
3,1,200,Embroidery,Arts,Pakistan,female,11
4,1,400,Milk Sales,Food,Pakistan,female,14

In [10]:
df2.shape

(666984, 7)

In [11]:
# Use Pandas get_dummies to convert categorical data

df2 = pd.get_dummies(df2)
df2.head()

,status,loan_amount,term_in_months,activity_Adult Care,activity_Agriculture,activity_Air Conditioning,activity_Animal Sales,activity_Aquaculture,activity_Arts,activity_Auto Repair,...,country_United States,country_Vanuatu,country_Vietnam,country_Virgin Islands,country_Yemen,country_Zambia,country_Zimbabwe,gender_female,gender_group,gender_male
0,1,300,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,575,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1,150,43,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,200,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,400,14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [12]:
df2.shape

(666984, 271)

In [13]:
X = df2.drop(['status'], axis=1)
feature_names = X.columns
y = df2['status']

# The Random Forest Model

In [14]:
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

rf = RandomForestClassifier(n_estimators=200, n_jobs=-1)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9216712844685929

In [15]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.460361012767996, 'loan_amount'),
 (0.21545241549891825, 'term_in_months'),
 (0.021276552171938797, 'gender_male'),
 (0.014309053801452863, 'gender_female'),
 (0.013295545094422127, 'country_El Salvador'),
 (0.01005502842879511, 'country_United States'),
 (0.009945783047685418, 'country_Colombia'),
 (0.007376178270285649, 'country_Philippines'),
 (0.006472111148948952, 'sector_Retail'),
 (0.005958022189326811, 'country_Kenya'),
 (0.004808639930221584, 'country_Uganda'),
 (0.004271418822997508, 'gender_group'),
 (0.004269454727073882, 'country_Armenia'),
 (0.0042638513515159335, 'country_Tajikistan'),
 (0.0040700767862456326, 'country_Pakistan'),
 (0.003974230271162765, 'country_Nicaragua'),
 (0.003928726281316199, 'sector_Agriculture'),
 (0.003901745547626476, 'activity_General Store'),
 (0.0037733206836369137, 'sector_Education'),
 (0.003419938048512117, 'country_Bolivia'),
 (0.0033774485053461962, 'activity_Farming'),
 (0.003372222552321949, 'country_Peru'),
 (0.003235241047067492, 'sector_Food'),
 (0.003200830449004785, 'country_Cambodia'),
 (0.0029857758850587016, 'activity_Retail'),
 (0.0029534649575445326, 'activity_Grocery Store'),
 (0.0028977725098700575, 'country_Vietnam'),
 (0.0027926427787181092, 'country_Palestine'),
 (0.002724313975481269, 'country_Ecuador'),
 (0.0026050663591433657, 'country_Rwanda'),
 (0.0025450804265302923, 'activity_Food Production/Sales'),
 (0.0025346753538651066, 'activity_Agriculture'),
 (0.002520250288300185, 'country_Lebanon'),
 (0.002393098358917691, 'sector_Clothing'),
 (0.0023502139995882653, 'country_Nigeria'),
 (0.0022973531402081904, 'sector_Services'),
 (0.0022886274337985176, 'activity_Personal Housing Expenses'),
 (0.002261779807760104, 'activity_Services'),
 (0.002250811481488259, 'sector_Housing'),
 (0.0022490262259843856, 'activity_Clothing Sales'),
 (0.0022272305207916175, 'country_Honduras'),
 (0.002213978238077031, 'country_Guatemala'),
 (0.002072661317279972, 'activity_Fruits & Vegetables'),
 (0.0020512315839827156, 'sector_Manufacturing'),
 (0.0019846529616257044, 'activity_Food'),
 (0.001897829160399068, 'sector_Personal Use'),
 (0.0018695561948237497, 'activity_Livestock'),
 (0.0018600191633504912, 'activity_Higher education costs'),
 (0.0018461317354674823, 'country_Paraguay'),
 (0.0018331458406415054, 'country_Indonesia'),
 (0.0018228803933045467, 'activity_Cattle'),
 (0.001818637461874402, 'activity_Beauty Salon'),
 (0.0018124468852650057, 'activity_Food Market'),
 (0.001719725357374034, 'activity_Home Products Sales'),
 (0.0017144365345449148, 'activity_Food Stall'),
 (0.001712682454812485, 'activity_Cosmetics Sales'),
 (0.001669901146000695, 'sector_Transportation'),
 (0.0016214885090964461, 'sector_Arts'),
 (0.0016062326215767742, 'activity_Restaurant'),
 (0.0015815500988913098, 'activity_Shoe Sales'),
 (0.00155257856350407, 'activity_Personal Expenses'),
 (0.0015307621850824138, 'country_Mexico'),
 (0.0015136273253208191, 'country_Senegal'),
 (0.0015053422886369893, 'country_Georgia'),
 (0.001466323926379739, 'activity_Farm Supplies'),
 (0.0014401623912222259, 'activity_Personal Products Sales'),
 (0.0014350357422607779, 'activity_Pigs'),
 (0.001434267170537792, 'activity_Beverages'),
 (0.001403216773558115, 'activity_Fish Selling'),
 (0.0014017216704032978, 'activity_Home Appliances'),
 (0.0013845853062519687, 'activity_Poultry'),
 (0.0013818838751269449, 'activity_Animal Sales'),
 (0.0013814746563537495, 'country_Myanmar (Burma)'),
 (0.0013607623214232896, 'activity_Sewing'),
 (0.0013543643392191285, 'activity_Bakery'),
 (0.0013541952024248246, 'sector_Construction'),
 (0.0013447134632099459, 'activity_Cereals'),
 (0.0013332070911443671, 'country_Cameroon'),
 (0.0013253628033166446, 'country_Sierra Leone'),
 (0.0013198033510685519, 'activity_Butcher Shop'),
 (0.0013110502820746681, 'sector_Health'),
 (0.0013014153322908045, 'country_Tanzania'),
 (0.0012806856172636338, 'country_Mali'),
 (0.001266747945455762, 'country_Azerbaijan'),
 (0.001256629084886614, 'activity_Dairy'),
 (0.0012435294398601986, 'country_Albania'),
 (0.0012227490234723603, 'country_Kyrgyzstan'),
 (0.0012132737889979336, 'country_Jordan'),
 (0.0012097222725402416, 'country_Mozambique'),
 (0.0011864105555359397, 'country_Samoa'),
 (0.0011750764971452698, 'country_India'),
 (0.0010828125637405083, 'activity_Cafe'),
 (0.0010744832762353284, 'activity_Home Energy'),
 (0.0010689122989058857, 'activity_Fishing'),
 (0.0010681612502434364, 'activity_Tailoring'),
 (0.001053493785314541, 'country_Yemen'),
 (0.001032087083005262, 'country_Kosovo'),
 (0.0010271965974432556, 'activity_Auto Repair'),
 (0.0010163130401429302, 'activity_Spare Parts'),
 (0.0010113037645966448, 'activity_Motorcycle Transport'),
 (0.000997801575571433, 'country_Ghana'),
 (0.0009923948551503418, 'country_Mongolia'),
 (0.0009573989547995391, 'country_Togo'),
 (0.0009503643549575937, 'activity_Vehicle'),
 (0.0009268164922986998, 'country_Costa Rica'),
 (0.0009267155752708762, 'activity_Transportation'),
 (0.0009198701159745318, 'activity_Hardware'),
 (0.0009136773571843739, 'activity_Clothing'),
 (0.0009061156293754251, 'activity_Jewelry'),
 (0.000904772697067606, 'country_Egypt'),
 (0.0008872876928495138, 'country_Timor-Leste'),
 (0.000817918603032018, 'activity_Fuel/Firewood'),
 (0.0008155323527107739, 'country_Ukraine'),
 (0.000807132736317671, 'activity_Mobile Phones'),
 (0.0008031901622638832, 'activity_Used Clothing'),
 (0.0007951758100436046, 'activity_Education provider'),
 (0.0007738752136215839, 'activity_Electronics Sales'),
 (0.0007737927128332596, 'activity_Technology'),
 (0.0007596075134955069, 'activity_Vehicle Repairs'),
 (0.0007428563034958446, 'activity_Phone Accessories'),
 (0.0007341679974677764, 'activity_Pub'),
 (0.0007267832403541202, 'activity_Taxi'),
 (0.0007234412147400098, 'activity_Barber Shop'),
 (0.000701612473817861, 'country_The Democratic Republic of the Congo'),
 (0.0006890741653614213, 'activity_Charcoal Sales'),
 (0.000685510282291089, 'activity_Cloth & Dressmaking Supplies'),
 (0.0006809582081452495, 'country_Haiti'),
 (0.000666896882550838, 'activity_Personal Medical Expenses'),
 (0.0006646668523738485, 'activity_Wedding Expenses'),
 (0.0006237560095657349, 'activity_Milk Sales'),
 (0.0006217370287488332, 'activity_Liquor Store / Off-License'),
 (0.0006182356669464715, 'country_Zimbabwe'),
 (0.0005798661237673766, 'activity_Construction'),
 (0.0005785688610340437, 'activity_Phone Use Sales'),
 (0.0005703815292240279, 'activity_Electrical Goods'),
 (0.0005308371857238145, 'activity_Construction Supplies'),
 (0.0005283616527593623, 'activity_Property'),
 (0.0005265361050200241, 'activity_Plastics Sales'),
 (0.0005262369410146588, 'activity_Catering'),
 (0.0005043428652434248, 'activity_Furniture Making'),
 (0.000504156713518991, 'country_Burkina Faso'),
 (0.0004991500326051794, 'activity_Primary/secondary school costs'),
 (0.0004866885778218474, 'activity_Consumer Goods'),
 (0.00048207314577723996, 'country_Iraq'),
 (0.0004671493432510845, 'activity_Printing'),
 (0.00045797573226322456, 'activity_Renewable Energy Products'),
 (0.0004505358708189733, 'activity_Crafts'),
 (0.00044786077804336336, 'activity_Internet Cafe'),
 (0.0004385872947745898, 'activity_Recycled Materials'),
 (0.00043308241291248523, 'country_Malawi'),
 (0.0004309795142206372, 'country_Madagascar'),
 (0.0004185433413619705, 'sector_Entertainment'),
 (0.00041313130045107484, 'country_Moldova'),
 (0.0004126801152836664, 'activity_Mobile Transactions'),
 (0.00040643112573656245, 'activity_Flowers'),
 (0.0004057528958588376, 'activity_Electronics Repair'),
 (0.000404224069062569, 'activity_Photography'),
 (0.0003983650289098613, 'activity_Bookstore'),
 (0.00039628633329741173, 'activity_Motorcycle Repair'),
 (0.00037718020809273127, 'activity_Rickshaw'),
 (0.00037712524282118766, 'country_Burundi'),
 (0.0003751294231157359, 'country_Zambia'),
 (0.0003737094684096703, 'activity_Decorations Sales'),
 (0.0003661872783425065, 'activity_Electrician'),
 (0.0003552436672723877, 'activity_Perfumes'),
 (0.0003535025966891411, 'activity_Health'),
 (0.00032722065921753936, 'activity_Entertainment'),
 (0.0003267816533051301, 'activity_Office Supplies'),
 (0.0003254767368791562, 'activity_Metal Shop'),
 (0.0003083041335337234, 'activity_Manufacturing'),
 (0.0002989191120848345, 'activity_Communications'),
 (0.00028909838116432054, 'activity_Hotel'),
 (0.0002882855641571005, 'activity_Carpentry'),
 (0.0002766662827157479, 'activity_Used Shoes'),
 (0.00027666257648830317, 'activity_Cheese Making'),
 (0.0002672994876824125, 'activity_Tourism'),
 (0.00026406918420080155, 'activity_Cobbler'),
 (0.000263617025773756, 'activity_Paper Sales'),
 (0.00025036060936082296, 'activity_Computers'),
 (0.0002484721778187331, 'country_Solomon Islands'),
 (0.00023494463360061775, 'sector_Wholesale'),
 (0.00023339276221504687, 'activity_Pharmacy'),
 (0.00021231405719135055, 'country_Dominican Republic'),
 (0.00020598459567709338, 'activity_Recycling'),
 (0.00019910612227298175, 'country_Liberia'),
 (0.00019636694424489246, 'activity_Land Rental'),
 (0.00019487141754592416, 'country_Benin'),
 (0.00019355311106559924, 'activity_Water Distribution'),
 (0.00019352092739813033, 'country_China'),
 (0.00019020741237364935, 'country_Panama'),
 (0.00018952274198700482, 'activity_Traveling Sales'),
 (0.00018706528738803921, 'country_South Africa'),
 (0.0001843425936912365, 'activity_Cleaning Services'),
 (0.00017795855357415478, 'activity_Utilities'),
 (0.00017658983720412368, 'country_Israel'),
 (0.0001705342597749738, 'activity_Arts'),
 (0.00016899904714160139, 'activity_Laundry'),
 (0.0001669396752059621, 'country_Puerto Rico'),
 (0.00015438038289336675, 'activity_Waste Management'),
 (0.00015377289243397174, 'activity_Aquaculture'),
 (0.00015075752958718742, 'activity_Music Discs & Tapes'),
 (0.0001505661169337959, 'activity_Weaving'),
 (0.0001454290357962641, 'activity_Dental'),
 (0.00014437010014504485, 'activity_Movie Tapes & DVDs'),
 (0.00014214360753260594, "country_Lao People's Democratic Republic"),
 (0.00013818408666169392, 'activity_Child Care'),
 (0.0001377494168331589, 'activity_Wholesale'),
 (0.00012874914788412397, 'activity_Phone Repair'),
 (0.00012725885450862474, 'activity_Party Supplies'),
 (0.00012196815002793254, 'activity_Souvenir Sales'),
 (0.00011990424901949771, 'activity_Veterinary Sales'),
 (0.00011747219701082843, 'activity_Goods Distribution'),
 (0.00011698766496268617, 'activity_Natural Medicines'),
 (0.00011572469122913099, 'country_Suriname'),
 (0.00011016981289878523, 'activity_Machinery Rental'),
 (0.00010588670351205098, 'country_Brazil'),
 (0.0001029395614335576, 'activity_Upholstery'),
 (0.00010160173902010254, 'activity_Bricks'),
 (9.831103552569521e-05, 'country_Belize'),
 (9.738012855764591e-05, 'activity_Timber Sales'),
 (9.246456891972066e-05, 'activity_Medical Clinic'),
 (9.091092851384906e-05, 'activity_Games'),
 (9.080493242013883e-05, 'activity_Cement'),
 (8.490704161475287e-05, 'activity_Bicycle Repair'),
 (8.480266570226898e-05, 'activity_Musical Performance'),
 (8.169777167855706e-05, 'activity_Florist'),
 (7.929382590889451e-05, 'activity_Textiles'),
 (6.926223378394418e-05, 'activity_Bicycle Sales'),
 (6.480085987488415e-05, 'activity_Embroidery'),
 (6.459085805457583e-05, 'country_Turkey'),
 (5.674265372594276e-05, 'activity_Landscaping / Gardening'),
 (5.432569629071525e-05, 'activity_Energy'),
 (5.42689688286277e-05, 'activity_Blacksmith'),
 (5.237921782521493e-05, 'country_Somalia'),
 (5.079168760323061e-05, 'country_Virgin Islands'),
 (4.979136841567321e-05, 'country_Nepal'),
 (4.976569718987889e-05, 'country_Thailand'),
 (4.5440557425983944e-05, 'activity_Beekeeping'),
 (4.11386362640884e-05, 'activity_Quarrying'),
 (3.449126198512167e-05, 'country_Lesotho'),
 (3.222531217741187e-05, 'activity_Sporting Good Sales'),
 (2.9531168429834044e-05, 'activity_Funerals'),
 (2.8075233193704894e-05, 'activity_Secretarial Services'),
 (2.7864822609777926e-05, 'activity_Computer'),
 (2.5403702088001655e-05, 'activity_Musical Instruments'),
 (2.427120275755032e-05, 'country_Saint Vincent and the Grenadines'),
 (2.171039194352791e-05, 'country_Guam'),
 (2.1695929533121632e-05, 'country_Congo'),
 (2.1190061102216818e-05, 'activity_Religious Articles'),
 (1.9446896259122087e-05, 'activity_Air Conditioning'),
 (1.846702461559015e-05, 'country_South Sudan'),
 (1.706231626081024e-05, 'activity_Knitting'),
 (1.5023473427270065e-05, 'activity_Machine Shop'),
 (1.4101335905381268e-05, 'activity_Bookbinding'),
 (1.3457745291375347e-05, 'activity_Well digging'),
 (1.3085477412481128e-05, 'activity_Call Center'),
 (9.298273687934572e-06, 'activity_Balut-Making'),
 (8.080922779709242e-06, 'activity_Film'),
 (2.5867527812871802e-06, 'activity_Celebrations'),
 (2.4350310279981517e-06, 'activity_Adult Care'),
 (2.0541305687713877e-06, 'activity_Event Planning'),
 (1.4097427709922804e-06, 'country_Chile'),
 (1.0601699502859262e-06, 'country_Mauritania'),
 (5.797508451569938e-07, 'activity_Personal Care Products'),
 (5.018275102593679e-07, 'country_Vanuatu'),
 (3.970121474168963e-07, 'country_Bhutan'),
 (1.9972790961168862e-07, 'country_Namibia'),
 (1.7832978450568345e-07, 'country_Afghanistan'),
 (1.1809883022489349e-07, 'activity_Patchwork'),
 (0.0, "country_Cote D'Ivoire")]

# 3 - The Random Forest Model Score

In [16]:
predictions = rf.predict(X_test)

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.42      0.23      0.29     11975
           1       0.94      0.98      0.96    154771

   micro avg       0.92      0.92      0.92    166746
   macro avg       0.68      0.60      0.63    166746
weighted avg       0.90      0.92      0.91    166746

In [18]:
df4 = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [19]:
df4.head(10)

   Prediction  Actual
0           1       1
1           1       0
2           1       1
3           1       1
4           1       1
5           1       1
6           1       1
7           1       1
8           0       0
9           1       1

# Passing Real Time Feature Data for Testing on the Model.

In [20]:
inputs = {'country_India' : 1, 'gender_male' : 1, 'activity_Agriculture' : 1}

test = pd.Series(index=df2.columns)
for key in inputs.keys():
    test[key] = inputs[key]
    
test.fillna(0, inplace=True)

In [21]:
test1 = test.drop(['status'])

In [22]:
predictions = rf.predict_proba(test1.values.reshape(1, -1))

In [23]:
print (predictions)

[[0. 1.]]

# Saving a Trained Model

We can save our trained models using the HDF5 binary format with the extension .h5

https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

You can use the pickle operation to serialize your machine learning algorithms and save the serialized format to a file.

Later you can load this file to deserialize your model and use it to make new predictions.

In [24]:
# Save the model
import pickle

filename = 'ML-Model-Set1-3-RandomForest-model-trained.h5'

pickle.dump(rf, open(filename, 'wb'))

In [25]:
# # load the model from disk
# loaded_model = pickle.load(open(filename, 'rb'))
# result = loaded_model.score(X_test, Y_test)
# print(result)