In [1]:
import re
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('kiva_loans_20181016.csv')
print(len(df))
# df = df.sample(n=round(len(df)*.2))
# print(len(df))
# df = df.loc[df.status==0].append(df.loc[df.status==1].sample(len(df.loc[df.status==0])))
# df.status.value_counts()

671205

In [3]:
df.shape

(671205, 18)

In [4]:
df.status.value_counts()

1    622877
0     48328
Name: status, dtype: int64

In [5]:
df.dtypes

id                     int64
date                  object
activity              object
sector                object
use                   object
funded_amount          int64
loan_amount            int64
diff_funded_loan       int64
status                 int64
country_code          object
country               object
currency              object
gender                object
borrower_genders      object
lender_count           int64
term_in_months         int64
repayment_interval    object
tags                  object
dtype: object

In [6]:
df.isnull().sum()

id                         0
date                       0
activity                   0
sector                     0
use                     4232
funded_amount              0
loan_amount                0
diff_funded_loan           0
status                     0
country_code               8
country                    0
currency                   0
gender                  4221
borrower_genders        4221
lender_count               0
term_in_months             0
repayment_interval         0
tags                  171416
dtype: int64

In [7]:
df1 = df[['status', 'loan_amount', 'activity',  'country',
         'currency','gender','term_in_months','repayment_interval']]

In [8]:
df1.head(2)

,status,loan_amount,activity,country,currency,gender,term_in_months,repayment_interval
0,1,300,Fruits & Vegetables,Pakistan,PKR,female,12,irregular
1,1,575,Rickshaw,Pakistan,PKR,group,11,irregular

In [9]:
df2 = df1.dropna()
df2 = df2.drop(['currency'], axis=1)
df2.head()

,status,loan_amount,activity,country,gender,term_in_months,repayment_interval
0,1,300,Fruits & Vegetables,Pakistan,female,12,irregular
1,1,575,Rickshaw,Pakistan,group,11,irregular
2,1,150,Transportation,India,female,43,bullet
3,1,200,Embroidery,Pakistan,female,11,irregular
4,1,400,Milk Sales,Pakistan,female,14,monthly

In [10]:
df2.shape

(666984, 7)

In [11]:
# Use Pandas get_dummies to convert categorical data

df2 = pd.get_dummies(data=df2, columns=['loan_amount','activity','country', 'gender',
                                        'term_in_months','repayment_interval'])
df2.head()

# pd.get_dummies(data=df2, columns=['loan_amount','activity','country', 'gender','term_in_months','repayment_interval'])

,status,loan_amount_25,loan_amount_50,loan_amount_75,loan_amount_100,loan_amount_125,loan_amount_150,loan_amount_175,loan_amount_200,loan_amount_225,...,term_in_months_146,term_in_months_147,term_in_months_148,term_in_months_154,term_in_months_156,term_in_months_158,repayment_interval_bullet,repayment_interval_irregular,repayment_interval_monthly,repayment_interval_weekly
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [12]:
df2.shape

(666984, 882)

In [13]:
X = df2.drop(['status'], axis=1)
feature_names = X.columns
y = df2['status']

# The Random Forest Model

In [14]:
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

rf = RandomForestClassifier(n_estimators=200, n_jobs=-1)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.928460053014765

In [15]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.017918086324216317, 'gender_male'),
 (0.016999799637472814, 'repayment_interval_monthly'),
 (0.01647816657769192, 'repayment_interval_bullet'),
 (0.015856994572643713, 'gender_female'),
 (0.015393374912377389, 'term_in_months_14'),
 (0.015094807405254712, 'term_in_months_8'),
 (0.013797622249547193, 'country_United States'),
 (0.012764527939222585, 'country_El Salvador'),
 (0.011215160064445255, 'term_in_months_26'),
 (0.011209410350505539, 'repayment_interval_irregular'),
 (0.011098070881350779, 'activity_Farming'),
 (0.010949201671471015, 'activity_General Store'),
 (0.009871718069382031, 'loan_amount_1000'),
 (0.009771514404954232, 'term_in_months_20'),
 (0.009146323908828973, 'activity_Retail'),
 (0.008535238700989298, 'activity_Agriculture'),
 (0.00851870656900632, 'activity_Personal Housing Expenses'),
 (0.008419097379017975, 'activity_Clothing Sales'),
 (0.007872896564321153, 'term_in_months_15'),
 (0.007457467848241139, 'loan_amount_1500'),
 (0.007450740728126171, 'country_Colombia'),
 (0.007340297558386821, 'activity_Food Production/Sales'),
 (0.007155307852225119, 'country_Philippines'),
 (0.007005659365366226, 'loan_amount_500'),
 (0.007001981138444368, 'country_Kenya'),
 (0.006912561511260466, 'term_in_months_13'),
 (0.006771191278897309, 'activity_Grocery Store'),
 (0.0067465816899638644, 'term_in_months_12'),
 (0.00664860478639098, 'loan_amount_800'),
 (0.00661509584987011, 'loan_amount_700'),
 (0.006612900104133126, 'loan_amount_600'),
 (0.005982322721611767, 'loan_amount_1200'),
 (0.00579985830008567, 'activity_Livestock'),
 (0.005756762583424336, 'term_in_months_27'),
 (0.005749494317719134, 'activity_Cattle'),
 (0.005730221792511508, 'loan_amount_900'),
 (0.005639308492522239, 'activity_Fruits & Vegetables'),
 (0.005608504828485563, 'country_Uganda'),
 (0.005588277608506429, 'term_in_months_24'),
 (0.005452885355334821, 'loan_amount_1050'),
 (0.0054440239094265454, 'loan_amount_400'),
 (0.0054348703615300295, 'term_in_months_11'),
 (0.00534967865655445, 'loan_amount_675'),
 (0.005289377617478886, 'loan_amount_750'),
 (0.00522764443824713, 'activity_Services'),
 (0.005223926535796247, 'loan_amount_1025'),
 (0.005219264276488366, 'country_Nicaragua'),
 (0.005208652313424351, 'term_in_months_21'),
 (0.005163717159168277, 'loan_amount_575'),
 (0.0050321725010538144, 'term_in_months_17'),
 (0.005020249866336728, 'loan_amount_1100'),
 (0.004963533517089751, 'loan_amount_975'),
 (0.0049338745081710525, 'loan_amount_525'),
 (0.00491350692134371, 'loan_amount_875'),
 (0.004867464509023331, 'country_Tajikistan'),
 (0.004834786744579556, 'loan_amount_650'),
 (0.00479231162982272, 'term_in_months_10'),
 (0.004742924996248127, 'loan_amount_300'),
 (0.0047363163279717235, 'loan_amount_850'),
 (0.0045117606337866266, 'loan_amount_1300'),
 (0.004476403415665627, 'activity_Food'),
 (0.004460808359755309, 'loan_amount_450'),
 (0.004459062735151167, 'loan_amount_775'),
 (0.00443531919984815, 'loan_amount_950'),
 (0.0044173050928206165, 'loan_amount_350'),
 (0.00440670582679109, 'gender_group'),
 (0.00434414039038081, 'loan_amount_1075'),
 (0.004306639987122465, 'loan_amount_1150'),
 (0.004183671265667137, 'activity_Pigs'),
 (0.004146986735485128, 'loan_amount_925'),
 (0.0041066215615573505, 'loan_amount_550'),
 (0.004050651968555434, 'loan_amount_1175'),
 (0.0040475699282500445, 'activity_Beauty Salon'),
 (0.004016670334743562, 'activity_Food Stall'),
 (0.004005839931653672, 'loan_amount_625'),
 (0.0039895992379753486, 'country_Pakistan'),
 (0.003986733629790043, 'activity_Higher education costs'),
 (0.003978874570949705, 'activity_Poultry'),
 (0.0039009672014788045, 'country_Armenia'),
 (0.0038785600207370957, 'term_in_months_7'),
 (0.003877621714649074, 'activity_Personal Expenses'),
 (0.003855045646935085, 'loan_amount_200'),
 (0.0038135706814687643, 'activity_Animal Sales'),
 (0.003739658534549332, 'loan_amount_825'),
 (0.0036760438695251692, 'activity_Cosmetics Sales'),
 (0.003639217364574078, 'loan_amount_1400'),
 (0.0036065896783714093, 'loan_amount_1125'),
 (0.003578210453675632, 'country_Bolivia'),
 (0.0035587132648101775, 'loan_amount_725'),
 (0.0035574538453195226, 'activity_Food Market'),
 (0.00354659262509083, 'loan_amount_2000'),
 (0.0035031136026662437, 'term_in_months_18'),
 (0.003484559738211152, 'loan_amount_475'),
 (0.0033634962307366153, 'activity_Home Products Sales'),
 (0.0033485302649819354, 'loan_amount_1475'),
 (0.0033350809523018266, 'loan_amount_250'),
 (0.00332523607780539, 'loan_amount_1450'),
 (0.003321847945272296, 'loan_amount_1275'),
 (0.003321243655717767, 'activity_Transportation'),
 (0.0032995455972429488, 'activity_Farm Supplies'),
 (0.003292289172133226, 'activity_Shoe Sales'),
 (0.0032799075979901954, 'loan_amount_1325'),
 (0.0032525090761322513, 'loan_amount_425'),
 (0.0032441503241816706, 'country_Cambodia'),
 (0.003180583958231824, 'activity_Personal Products Sales'),
 (0.003177945139464673, 'loan_amount_5000'),
 (0.003167459318608976, 'activity_Restaurant'),
 (0.0031275469602475934, 'activity_Motorcycle Transport'),
 (0.0031146487182107134, 'loan_amount_1600'),
 (0.003113455549265091, 'loan_amount_225'),
 (0.0031004996195866537, 'loan_amount_1350'),
 (0.0030835449871624665, 'country_Ecuador'),
 (0.0030414124019144955, 'country_Peru'),
 (0.0030390874660757876, 'loan_amount_1250'),
 (0.003028905089660992, 'activity_Dairy'),
 (0.0030200092870240856, 'term_in_months_19'),
 (0.0030075315509249683, 'loan_amount_375'),
 (0.0030067485676829936, 'activity_Fish Selling'),
 (0.0029549034310029625, 'loan_amount_1225'),
 (0.0028883771479285333, 'term_in_months_9'),
 (0.002878081774359798, 'country_Rwanda'),
 (0.0028144400047844117, 'loan_amount_325'),
 (0.0027903467883952505, 'country_Honduras'),
 (0.002769419309252264, 'loan_amount_275'),
 (0.0027364941471265413, 'country_Vietnam'),
 (0.0026999797007211356, 'activity_Cereals'),
 (0.002696452419224935, 'loan_amount_1375'),
 (0.0026740520891903635, 'activity_Sewing'),
 (0.002665353380631327, 'term_in_months_6'),
 (0.0026158803857246273, 'activity_Tailoring'),
 (0.0025978209054712243, 'activity_Personal Medical Expenses'),
 (0.0025507754525261757, 'activity_Bakery'),
 (0.002550082045720284, 'activity_Taxi'),
 (0.002541032321274737, 'term_in_months_38'),
 (0.002483986190581679, 'activity_Beverages'),
 (0.0024812505406652074, 'loan_amount_3000'),
 (0.002464500136697351, 'loan_amount_125'),
 (0.0024452881864446946, 'loan_amount_2500'),
 (0.002436678890107236, 'term_in_months_25'),
 (0.002408117803642871, 'activity_Butcher Shop'),
 (0.002396452884337376, 'country_Lebanon'),
 (0.0023851412651076324, 'loan_amount_2100'),
 (0.0023778257061852354, 'activity_Home Appliances'),
 (0.0023679566697706023, 'activity_Clothing'),
 (0.0023612158242476314, 'country_Palestine'),
 (0.002332744985935292, 'activity_Used Clothing'),
 (0.0023061754596250396, 'country_Guatemala'),
 (0.002300751125574317, 'loan_amount_1550'),
 (0.002198757780956882, 'activity_Fishing'),
 (0.0021762482314750587, 'loan_amount_175'),
 (0.002167250328911889, 'loan_amount_1575'),
 (0.0021375269499561518, 'loan_amount_1675'),
 (0.0020973195912838702, 'activity_Auto Repair'),
 (0.0020907333501421297, 'loan_amount_1700'),
 (0.0020564049666327057, 'term_in_months_36'),
 (0.0019997180336788615, 'loan_amount_1525'),
 (0.0019769206889528696, 'loan_amount_1425'),
 (0.0019734889800359424, 'term_in_months_22'),
 (0.0019674883130963144, 'activity_Construction'),
 (0.001960457511048645, 'loan_amount_1625'),
 (0.0019123202785282494, 'activity_Vehicle'),
 (0.0019082668511393385, 'country_Paraguay'),
 (0.0019009750434610027, 'loan_amount_150'),
 (0.0019003327862491127, 'activity_Spare Parts'),
 (0.0018564143744479037, 'loan_amount_1725'),
 (0.0018140116553070204, 'loan_amount_1800'),
 (0.0018090464615184627, 'loan_amount_1925'),
 (0.0017836130919196694, 'activity_Cafe'),
 (0.0017274934295329087, 'term_in_months_39'),
 (0.0017196825501690502, 'loan_amount_1900'),
 (0.0017116967052639767, 'country_Mexico'),
 (0.0016609362401869944, 'activity_Home Energy'),
 (0.001650891074666334, 'loan_amount_100'),
 (0.0015849617258974868, 'term_in_months_32'),
 (0.0015805974537500612, 'loan_amount_1750'),
 (0.0015730560984368667, 'activity_Construction Supplies'),
 (0.0015705830497547485, 'country_Kyrgyzstan'),
 (0.0015689130503977208, 'activity_Hardware'),
 (0.0015605381133282981, 'activity_Property'),
 (0.0015603229866681706, 'loan_amount_1975'),
 (0.0015401638024433314, 'activity_Education provider'),
 (0.0015196308837747755, 'term_in_months_16'),
 (0.0015188447392180152, 'country_Indonesia'),
 (0.001508265934858862, 'activity_Charcoal Sales'),
 (0.0015071525156606402, 'activity_Jewelry'),
 (0.0015022191380550107, 'activity_Furniture Making'),
 (0.00149899922224456, 'country_Senegal'),
 (0.0014829467991983294, 'loan_amount_1650'),
 (0.0014795886770131825, 'country_Sierra Leone'),
 (0.001479469801723203, 'country_Albania'),
 (0.001439776457389437, 'country_Myanmar (Burma)'),
 (0.0014370073852613644, 'activity_Fuel/Firewood'),
 (0.0014310570912052544, 'activity_Barber Shop'),
 (0.0014254376336471303, 'country_Mozambique'),
 (0.001424051003678925, 'term_in_months_23'),
 (0.0014203251221580684, 'loan_amount_1950'),
 (0.0014147518347438126, 'loan_amount_2075'),
 (0.0014048170981039551, 'country_Georgia'),
 (0.001398278436174451, 'term_in_months_28'),
 (0.0013943177145189162, 'activity_Primary/secondary school costs'),
 (0.001393872649846236, 'loan_amount_2200'),
 (0.0013864547026849552, 'activity_Electronics Sales'),
 (0.001359731412990166, 'activity_Mobile Phones'),
 (0.001352495896094143, 'country_Tanzania'),
 (0.0013437563255032548, 'loan_amount_1775'),
 (0.0013434451238616637, 'loan_amount_1875'),
 (0.0013395280203894334, 'loan_amount_1850'),
 (0.0013273494348354895, 'loan_amount_2125'),
 (0.001308657652197104, 'loan_amount_2025'),
 (0.001307977538262033, 'loan_amount_2050'),
 (0.0012637396878378854, 'loan_amount_10000'),
 (0.0012626865310257042, 'activity_Pub'),
 (0.001259623667909952, 'activity_Crafts'),
 (0.0012465563064877256, 'loan_amount_2475'),
 (0.0012225525336733586, 'term_in_months_5'),
 (0.0012016298780972263, 'loan_amount_2250'),
 (0.001189969705020838, 'loan_amount_75'),
 (0.0011889117379861134, 'loan_amount_1825'),
 (0.0011777748112266604, 'activity_Vehicle Repairs'),
 (0.0011718511920702005, 'term_in_months_33'),
 (0.0011325542319200923, 'activity_Cloth & Dressmaking Supplies'),
 (0.0011295641878255925, 'activity_Wedding Expenses'),
 (0.0011209463803130175, 'country_Mali'),
 (0.001120713598339153, 'country_Nigeria'),
 (0.001118773805414381, 'activity_Phone Accessories'),
 (0.0010957525484958206, 'country_Jordan'),
 (0.0010911005587189273, 'country_India'),
 (0.0010827817996986973, 'activity_Metal Shop'),
 (0.0010820792740710429, 'loan_amount_2350'),
 (0.0010735089811282838, 'loan_amount_2550'),
 (0.001065521184920329, 'loan_amount_2175'),
 (0.0010649428990444742, 'loan_amount_2300'),
 (0.0010637278229485205, 'loan_amount_2225'),
 (0.0010471107863893956, 'loan_amount_2400'),
 (0.0010377379465296211, 'country_Azerbaijan'),
 (0.0010349900589210178, 'country_Kosovo'),
 (0.0010247261579072512, 'term_in_months_30'),
 (0.000993233596037458, 'loan_amount_2325'),
 (0.000992892293501702, 'activity_Rickshaw'),
 (0.000984793295143435, 'loan_amount_2925'),
 (0.0009758173312424186, 'country_Cameroon'),
 (0.0009550910998420305, 'activity_Manufacturing'),
 (0.0009529507120194054, 'loan_amount_2450'),
 (0.0009418318023776552, 'loan_amount_2425'),
 (0.0009401366857778125, 'loan_amount_2275'),
 (0.0009326479651686804, 'loan_amount_2625'),
 (0.0009211315672130974, 'country_Yemen'),
 (0.0009013124822109367, 'loan_amount_2375'),
 (0.0009000726760179532, 'activity_Milk Sales'),
 (0.000884875042960512, 'loan_amount_2950'),
 (0.000874241665406352, 'country_Mongolia'),
 (0.0008718929290846946, 'country_Ghana'),
 (0.0008569657891443065, 'country_Togo'),
 (0.0008559776116410086, 'loan_amount_2750'),
 (0.0008538856040561055, 'activity_Electrical Goods'),
 (0.0008514317338850515, 'activity_Internet Cafe'),
 (0.000850699348973188, 'loan_amount_4950'),
 (0.0008417136921492037, 'loan_amount_2700'),
 (0.0008311487137289596, 'loan_amount_2600'),
 (0.0008215731353130144, 'loan_amount_2575'),
 (0.0008107966157927589, 'activity_Liquor Store / Off-License'),
 (0.0008105906536696748, 'loan_amount_2150'),
 (0.000808774107678373, 'loan_amount_4000'),
 (0.0008043083870367722, 'activity_Consumer Goods'),
 (0.0007912278493378725, 'loan_amount_2675'),
 (0.0007808014765554088, 'country_Samoa'),
 (0.000775361122195487, 'activity_Phone Use Sales'),
 (0.0007505975764335856, 'country_Timor-Leste'),
 (0.0007469343509048186, 'country_Costa Rica'),
 (0.0007464625831547847, 'loan_amount_2975'),
 (0.0007409788735175563, 'activity_Plastics Sales'),
 (0.0007393933909866433, 'loan_amount_3750'),
 (0.0007168575519403062, 'activity_Catering'),
 (0.0006981834497140579, 'country_Egypt'),
 (0.0006980626278060382, 'term_in_months_31'),
 (0.0006973142297507046, 'loan_amount_3150'),
 (0.0006669673410154322, 'loan_amount_3100'),
 (0.0006626625519151241, 'loan_amount_3050'),
 (0.0006625596807600427, 'loan_amount_3825'),
 (0.0006539927974442691, 'loan_amount_2650'),
 (0.0006515965884315111, 'activity_Carpentry'),
 (0.000643694497224599, 'loan_amount_2525'),
 (0.0006418175457275866, 'loan_amount_2900'),
 (0.0006368376662851974, 'loan_amount_2825'),
 (0.000635247022604063, 'activity_Printing'),
 (0.0006334883640972479, 'country_Ukraine'),
 (0.0006296970119071603, 'loan_amount_50'),
 (0.0006293909704167198, 'activity_Flowers'),
 (0.0006261738240320369, 'activity_Motorcycle Repair'),
 (0.0006157685741862831, 'loan_amount_3175'),
 (0.0006091861312719168, 'loan_amount_2800'),
 (0.000608472554186523, 'term_in_months_62'),
 (0.0006014035247850869, 'loan_amount_3200'),
 (0.0005945583134611083, 'activity_Electronics Repair'),
 (0.0005925453875661652, 'loan_amount_3125'),
 (0.0005899340096251845, 'loan_amount_3500'),
 (0.0005799093718248135, 'loan_amount_2775'),
 (0.0005770299858191847, 'loan_amount_3950'),
 (0.0005764909067212644, 'activity_Photography'),
 (0.0005751256588513932, 'activity_Recycled Materials'),
 (0.0005721467105286715, 'country_The Democratic Republic of the Congo'),
 (0.000565010197264246, 'activity_Health'),
 (0.0005602469607077088, 'loan_amount_2850'),
 (0.0005387032541102532, 'term_in_months_43'),
 (0.0005339907791024722, 'loan_amount_3900'),
 (0.0005317821782822022, 'activity_Decorations Sales'),
 (0.0005246113801673317, 'country_Zimbabwe'),
 (0.0005222910445273579, 'activity_Pharmacy'),
 (0.0005189878986414786, 'loan_amount_3600'),
 (0.0005182635315094095, 'loan_amount_2875'),
 (0.0005145161323446627, 'activity_Perfumes'),
 (0.0005112227000811808, 'loan_amount_4500'),
 (0.0005106662548371579, 'activity_Technology'),
 (0.0005094630303276895, 'activity_Used Shoes'),
 (0.0005056042122630699, 'activity_Electrician'),
 (0.0005045485412438259, 'term_in_months_37'),
 (0.0004946103235173179, 'loan_amount_2725'),
 (0.0004935181824999098, 'country_Haiti'),
 (0.0004907562638546651, 'loan_amount_3075'),
 (0.00048779442666372394, 'loan_amount_3700'),
 (0.00048067700232466926, 'loan_amount_4375'),
 (0.0004761836033977613, 'loan_amount_4925'),
 (0.0004749413418968033, 'loan_amount_3350'),
 (0.0004672518853246481, 'loan_amount_3875'),
 (0.00046313174455712915, 'activity_Office Supplies'),
 (0.00046187846145423044, 'loan_amount_3275'),
 (0.0004604512243189567, 'activity_Entertainment'),
 (0.0004597924542840979, 'activity_Weaving'),
 (0.00045840868153408654, 'term_in_months_29'),
 (0.00045368970714200615, 'loan_amount_3475'),
 (0.0004526925480029144, 'loan_amount_3225'),
 (0.0004484221005327274, 'country_Burkina Faso'),
 (0.0004433427305792012, 'activity_Cobbler'),
 (0.00044083646210398903, 'loan_amount_3425'),
 (0.00043704925464570145, 'activity_Paper Sales'),
 (0.00043490126106672674, 'loan_amount_4175'),
 (0.00042064071149667674, 'loan_amount_4475'),
 (0.00041909515423946443, 'loan_amount_5800'),
 (0.00041766857163323266, 'country_Zambia'),
 (0.00041622994978848907, 'loan_amount_6000'),
 (0.0004136398268434699, 'country_Burundi'),
 (0.00040917877681742864, 'loan_amount_3375'),
 (0.00040813918366270236, 'country_Madagascar'),
 (0.00040477458060793293, 'activity_Hotel'),
 (0.0004038888784955683, 'loan_amount_3625'),
 (0.00040028373355391035, 'loan_amount_3775'),
 (0.00039864101387000473, 'loan_amount_3725'),
 (0.0003983514259212253, 'loan_amount_3450'),
 (0.00038820311548239513, 'loan_amount_3850'),
 (0.0003876995236217029, 'activity_Bookstore'),
 (0.00038752668000318827, 'term_in_months_63'),
 (0.00038246022335605576, 'term_in_months_40'),
 (0.0003819844913015416, 'loan_amount_3300'),
 (0.00037667524115862766, 'activity_Arts'),
 (0.00037161685834619047, 'activity_Mobile Transactions'),
 (0.0003683824463677388, 'loan_amount_5425'),
 (0.0003656432404390717, 'loan_amount_3975'),
 (0.0003655404708363476, 'loan_amount_5975'),
 (0.0003653292177732548, 'activity_Embroidery'),
 (0.00036523263722576223, 'term_in_months_50'),
 (0.00035948013191986253, 'loan_amount_3325'),
 (0.00035820214193603894, 'loan_amount_4350'),
 (0.00035595432458690186, 'loan_amount_4050'),
 (0.0003501139787854273, 'loan_amount_4975'),
 (0.00034583667614446006, 'loan_amount_4725'),
 (0.00034354856156121793, 'loan_amount_3250'),
 (0.00034287564056636425, 'loan_amount_4325'),
 (0.00033182134762125626, 'activity_Computers'),
 (0.0003274281180624293, 'country_Moldova'),
 (0.0003273100330781392, 'loan_amount_3025'),
 (0.00032710312946041513, 'activity_Dental'),
 (0.00032567082958041474, 'activity_Natural Medicines'),
 (0.0003171039106653478, 'loan_amount_5075'),
 (0.00031315256253972165, 'activity_Bricks'),
 (0.0003124127043998105, 'activity_Tourism'),
 (0.0003097225678960285, 'loan_amount_5450'),
 (0.0003048544105973266, 'activity_Land Rental'),
 (0.0003039225100347659, 'activity_Utilities'),
 (0.0003002175008453145, 'loan_amount_4225'),
 (0.0002972251682998555, 'loan_amount_4625'),
 (0.00029612680313520484, 'loan_amount_4075'),
 (0.0002913785537440394, 'country_Malawi'),
 (0.0002870697642268431, 'loan_amount_4675'),
 (0.0002865040118719087, 'loan_amount_4125'),
 (0.0002861761246597677, 'activity_Cheese Making'),
 (0.00028360595024389494, 'loan_amount_4525'),
 (0.00028155581696551364, 'activity_Textiles'),
 (0.00028066433820656217, 'loan_amount_3650'),
 (0.0002801953841707445, 'activity_Blacksmith'),
 (0.00027980738613666916, 'loan_amount_4100'),
 (0.00027857511725497963, 'activity_Timber Sales'),
 (0.00027663044317310085, 'loan_amount_3800'),
 (0.00027517800240542205, 'loan_amount_3675'),
 (0.00027347094953140814, 'loan_amount_4025'),
 (0.0002721010833887308, 'loan_amount_3400'),
 (0.0002708762243975125, 'loan_amount_4425'),
 (0.0002701522102039881, 'loan_amount_5475'),
 (0.00026886850971723756, 'activity_Recycling'),
 (0.0002683670046509961, 'loan_amount_5050'),
 (0.00026619485338443493, 'loan_amount_3925'),
 (0.0002657746474052548, 'loan_amount_5525'),
 (0.0002634057194395362, 'activity_Traveling Sales'),
 (0.0002633506193753986, 'loan_amount_4200'),
 (0.00026248127353276784, 'loan_amount_3575'),
 (0.0002624187621462149, 'term_in_months_51'),
 (0.00025842057910624173, 'activity_Wholesale'),
 (0.00025775542126136816, 'activity_Goods Distribution'),
 (0.00025655562177700233, 'loan_amount_4150'),
 (0.0002561461095960924, 'loan_amount_5375'),
 (0.00025485317686041556, 'loan_amount_5150'),
 (0.0002501783460175007, 'loan_amount_5900'),
 (0.0002490573114851341, 'loan_amount_3550'),
 (0.0002484147477828348, 'country_Iraq'),
 (0.00024726565237774214, 'loan_amount_25'),
 (0.0002460277370513566, 'loan_amount_4900'),
 (0.0002455635799825217, "country_Lao People's Democratic Republic"),
 (0.00024527995097258653, 'loan_amount_4650'),
 (0.0002434890056284776, 'activity_Medical Clinic'),
 (0.00024333041972041884, 'loan_amount_4250'),
 (0.00024262261008700106, 'term_in_months_3'),
 (0.00023850071804185392, 'loan_amount_4450'),
 (0.00023594052061274632, 'country_Solomon Islands'),

# 3 - The Random Forest Model Score

In [16]:
predictions = rf.predict(X_test)

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.50      0.21      0.29     11975
           1       0.94      0.98      0.96    154771

   micro avg       0.93      0.93      0.93    166746
   macro avg       0.72      0.60      0.63    166746
weighted avg       0.91      0.93      0.91    166746

In [18]:
df4 = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [19]:
df4.head(10)

   Prediction  Actual
0           1       1
1           1       0
2           1       1
3           1       1
4           1       1
5           1       1
6           1       1
7           1       1
8           0       0
9           1       1

# Passing Real Time Feature Data for Testing on the Model.

In [20]:
inputs = {'country_India' : 1, 'gender_male' : 1, 'activity_Agriculture' : 1}

test = pd.Series(index=df2.columns)
for key in inputs.keys():
    test[key] = inputs[key]
    
test.fillna(0, inplace=True)

In [21]:
test1 = test.drop(['status'])

In [22]:
predictions = rf.predict_proba(test1.values.reshape(1, -1))

In [23]:
print (predictions)

[[0. 1.]]

# Saving a Trained Model

We can save our trained models using the HDF5 binary format with the extension .h5

https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

You can use the pickle operation to serialize your machine learning algorithms and save the serialized format to a file.

Later you can load this file to deserialize your model and use it to make new predictions.

In [24]:
# # Save the model
# import pickle

# filename = 'ML-Model-Set1-3-RandomForest-model-trained.h5'

# pickle.dump(rf, open(filename, 'wb'))

In [25]:
# # load the model from disk
# loaded_model = pickle.load(open(filename, 'rb'))
# result = loaded_model.score(X_test, Y_test)
# print(result)